extends ./layouts/layout.jade

block nav-account
    li.active
      a(href='/account')
        | My Account 
        span.sr-only (current)

block content
    .container
        .row
            .col-md-12
                h1#page-title Welcome, #{username}
        .row
            .col-md-3 
                .list-group
                    a.list-group-item(class=(page == 'order' || page == 'index')? "active": "", href="/account/order") Order
                    a.list-group-item(class=(page == 'history')? "active": "", href="/account/history") History
                .panel.panel-default
                    .panel-heading
                        h3.panel-title My Profile
                    .panel-body
                        p 
                            b Username
                            br
                            span #{username}
                        p
                            b Name
                            br
                            span #{user.firstname} #{user.lastname}
                        p
                            b Email
                            br
                            span #{user.email}
                        p
                            b Address
                            br
                            ol: for address in user.address
                                li #{address.value}
                        //- p
                        //-     a.btn.btn-default(href="/account/edit") Edit Account
            .col-md-9 
                block account-content

block title
    title My Account
