extends ./layouts/layout.jade

block title
    title Delivery

block content
    .jumbotron(style="background:#FFF url('/img/header.jpg'); height: 540px; color: #EEE")
        .container
            h1 Delivery!
            p
                | This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.
            p
                a.btn.btn-primary.btn-lg(href='/about', role='button') About us
    .container
        .row(style="margin-bottom: 10px;")
            .col-md-12
                h3 Recommend Menu
        .panel.panel-default
            .panel-body
                for menu in menus
                    .row
                        .col-sm-3
                            .thumbnail
                                a(href="/stores/menu/#{menu.menu_id}")
                                    img(src='/img/menu_#{menu.menu_id}.jpg')
                        .col-sm-6
                            h3 #{menu.menu_name}
                            p #{menu.description}
                            p
                                big
                                    b Store: 
                                    span: a(href="/stores/#{menu.store_id}") #{menu.store_name}
                            p
                                big
                                    b Price: 
                                    span  $#{menu.price}
                        .col-sm-3
                            p
                                h3(style="text-align: right")
                                    small SCORE &nbsp;&nbsp;
                                    span #{menu.score} of 5
                                    br
                                    small FROM #{menu.count} PEOPLE
